---
component: Hidden assistive css
layout: main-layout.html
---
<h3>Summary</h3>
<p>CSS Helpers for hiding and "visually hiding" content.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:ajs">
                <code>com.atlassian.auiplugin:ajs</code></td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>3.2</td>
        </tr>
    </tbody>
</table>

<h3>Code</h3>
<p>Simply apply the&nbsp;<strong>hidden</strong>&nbsp;or&nbsp;<strong>assistive</strong>&nbsp;class to the element. No
    other code is required. Works well with jQuery <code>toggleClass()</code>.
</p>
<ul>
    <li><code>hidden</code> removes the element - it is not available to any user (it applies <code>display:
        none;</code>)
    </li>
    <li><code>assistive</code> hides the element from visual display, but leaves it in the document; meaning it is still
        available to screen readers (it applies the same clip:rect hiding solution as
        <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>.
    </li>
</ul>
<h4>CSS</h4>
<aui-docs-example>
    <script is="aui-docs-code" type="text/html">
        <p class="hidden">I am an element no human should encounter under current conditions.</p>
        <p class="assistive">I am an element that adds some extra information for people who can't see some kind of visual cue.</p>
    </script>
</aui-docs-example>
<h3>Implementation tips</h3>
<h4>Don't</h4>
<ul>
    <li>Don't use .hidden on critical content if there is no way to reveal it using a keyboard</li>
    <li>Don't mix .hidden with jQuery show()/hide(), instead:
        <ul>
            <li>toggle the hidden class to show/hide the element</li>
            <li>OR, use jQuery hide() to hide the element in the first place; then you can safely use jQuery show() to
                reveal it
            </li>
        </ul>
    </li>
    <li>Don't use assistive if the content is not useful to anyone - eg. unpopulated templates, closed dialogs, etc</li>
    <li>Don't use assistive for SEO bombing. Not cool.</li>
</ul>
<h4>Do</h4>
<ul>
    <li>Do use .hidden when the content should not be available to any user.</li>
    <li>Do use .assistive when the content should still be available to keyboard and screen reader users, but cannot be
        revealed on demand using the keyboard.
    </li>
    <li>Do use .assistive (judiciously!) to provide context to screen readers, for example where sighted users are given
        visual cues but without the visual cues the structure and purpose of a page would not be apparent.
    </li>
</ul>
<h4>Recommended reading</h4>
<p>If this is an unfamiliar technique, some further reading may be useful:</p>
<ul>
    <li>When and how to hide content:&nbsp;<a href="http://webaim.org/techniques/css/invisiblecontent/">WebAIM: CSS in
        Action: Invisible Content Just for Screen Reader Users</a></li>
    <li>Why the clipping
        solution:&nbsp;<a href="http://snook.ca/archives/html_and_css/hiding-content-for-accessibility">Hiding Content
            for Accessibility - snook.ca</a></li>
    <li>Regarding the usability of hiding
        content:&nbsp;<a href="http://simplyaccessible.com/article/better-for-accessibility/">Better for Accessibility -
            Derek Featherstone</a></li>
</ul>
