---
component: Inline dialog
layout: main-layout.html
---

<a href="https://design.atlassian.com/latest/product/components/inline-dialog/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>

<div class="aui-message aui-message-info">
    This documentation is for the <strong>web component inline dialog API</strong>.
    <ul class="aui-nav-actions-list"><li><a href="inline-dialog-deprecated.html">View documentation for the deprecated javascript-based inline dialog API.</a></li></ul>
</div>

<h3>Summary</h3>
<p>The inline dialog is a wrapper for secondary content/controls to be displayed on user request. Consider this component as displayed in context to the triggering control with the dialog overlaying the page content.</p>
<p>A inline dialog should be preferred over a modal dialog when a connection between the action has a clear benefit versus having a lower user focus.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
    <tr>
        <th>API status:</th>
        <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
    </tr>
    <tr>
        <th>Included in AUI core?</th>
        <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
            resource key.
        </td>
    </tr>
    <tr>
        <th>Web resource key:</th>
        <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-inline-dialog2"><code>com.atlassian.auiplugin:aui-inline-dialog2</code>
        </td>
    </tr>
    <tr>
        <th>AMD Module key:</th>
        <td class="resource-key">N/A</td>
    </tr>
    <tr>
        <th>Experimental since:</th>
        <td>5.7</td>
    </tr>
    <tr>
        <th>General API status:</th>
        <td>5.9</td>
    </tr>
    </tbody>
</table>



<h3>Examples</h3>
<div class="aui-flatpack-example">
    <a data-aui-trigger href="#" aria-controls="inline-dialog-wc-1">Inline dialog trigger</a>

    <aui-inline-dialog id="inline-dialog-wc-1" alignment="bottom center" responds-to="toggle" persistent="false">
        Inline dialog content example
    </aui-inline-dialog>
</div>



<h3>Code</h3>
<p>The HTML component is simply a trigger with an ID, which can be used by Inline Dialog's JavaScript.</p>
<aui-docs-example>
    <script is="aui-docs-code" type="text/html">
        <a data-aui-trigger href="#" aria-controls="inline-dialog-wc-1">Inline dialog trigger</a>

        <aui-inline-dialog id="inline-dialog-wc-1" alignment="bottom center" responds-to="toggle" persistent="false">
            Inline dialog content example.
        </aui-inline-dialog>
    </script><!--</aui-docs-code>-->
</aui-docs-example>

<h3>Options</h3>
<p>Inline Dialog2 configuration options are specified as HTML attributes.</p>
<table class="aui" id="dialog-methods">
    <thead>
    <tr>
        <th>Attribute</th>
        <th>Values</th>
        <th class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><code>alignment</code></td>
        <td>
            <ul>
                <li>top left (default)</li>
                <li>top center</li>
                <li>top right</li>
                <li>right top</li>
                <li>right middle</li>
                <li>right bottom</li>
                <li>bottom left</li>
                <li>bottom center</li>
                <li>bottom right</li>
                <li>left top</li>
                <li>left middle</li>
                <li>left bottom</li>
            </ul>
        </td>
        <td>Specifies the inline dialogs alignment with respect to its trigger. The inline dialog is not positioned if this is not specified.</td>
    </tr>
    <tr>
        <td><code>persistent</code></td>
        <td>
            <ul>
                <li>false (default)</li>
                <li>true</li>
            </ul>
        </td>
        <td>Specifies that the inline dialog is persistent. Persistent inline dialogs cannot be closed by outside click or escape.</td>
    </tr>
    <tr>
        <td><code>responds-to</code></td>
        <td>
            <ul>
                <li>toggle (default)</li>
                <li>hover</li>
            </ul>
        </td>
        <td>
            <p>Determines the type of interaction a trigger will have with the inline dialog.</p>
            <ul>
                <li><code>toggle</code> will respond to click event on the trigger.</li>
                <li><code>hover</code> will respond to mouseover, mouseout, focus, blur events on the trigger.</li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>



<h3>Methods</h3>
<p>Methods and properties are accessed directly on the native DOM element.</p>
<script is="aui-docs-code" type="text/js">
    var inlineDialog = document.querySelector('#inline-dialog-wc-1');

    inlineDialog.show();

    if (inlineDialog.isVisible()) {
    inlineDialog.remove();
    }
</script><!--/aui-docs-code-->
<table class="aui" id="inline-dialog-methods">
    <thead>
    <tr>
        <th>Method</th>
        <th class="description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>show</td>
        <td>Shows an inline dialog.</td>
    </tr>
    <tr>
        <td>hide</td>
        <td>Hides an inline dialog.</td>
    </tr>
    <tr>
        <td>isVisible</td>
        <td>Returns true or false, whether or not the inline dialog is visible.</td>
    </tr>
    </tbody>
</table>



<h3>Events</h3>
<p>Events are triggered when inline dialogs are shown and hidden. These events are triggered natively on the component. You can bind to the the inline dialog2 component for instance specific events, or rely on event bubbling and bind to the document to receive events for every show and hide.</p>
<table class="aui" id="inline-dialog-events">
    <thead>
    <tr>
        <th>Event</th>
        <th class="description">Description</th>
        <th>Preventable</th>
        <th>Bubbles</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>aui-layer-show</td>
        <td>Triggered before an inline dialog instance is shown.</td>
        <td><strong>Yes</strong>. Prevents it from showing.</td>
        <td>Yes</td>
    </tr>
    <tr>
        <td>aui-layer-hide</td>
        <td>Triggered before an inline dialog instance is hidden.</td>
        <td><strong>Yes</strong>. Prevents it from hiding.</td>
        <td>Yes</td>
    </tr>
    </tbody>
</table>

