---
component: Labels
layout: main-layout.html
---

<a href="https://design.atlassian.com/latest/product/components/labels/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
                resource key.
            </td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-labels"><code>com.atlassian.auiplugin:aui-labels</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.8</td>
        </tr>
    </tbody>
</table>

<h3>Summary</h3>

<p>Labels are used to tag or label content with certain keywords; and optionally to link to resources showing more
    information related to that keyword. Can be closeable.</p>

<p>AUI Labels can be created in four configurations:</p>
<ul>
    <li>unclickable (information only)</li>
    <li>unclickable, but closeable</li>
    <li>clickable</li>
    <li>clickable AND closeable - a "split label" with two distinct actions</li>
</ul>
<p><em>Note that removable labels only appear removable. They require you to implement your own removing logic.</em>
</p>

<h3>Examples</h3>

<div class="aui-flatpack-example">
    <p>
        <span id="unclickable-label" class="aui-label">Label text</span>
        <a id="clickable-label" class="aui-label" href="#">Label link</a>
            <span id="closeable-label-nourl" class="aui-label aui-label-closeable">Removable label<span tabindex="0"
                                                                                                        class="aui-icon aui-icon-close"
                                                                                                        original-title="(remove closableNoUrl)">(remove closableNoUrl)</span></span>
    </p>
        <span id="split-label" class="aui-label aui-label-closeable aui-label-split"><a class="aui-label-split-main"
                                                                                        href="#">Removable label
            link</a><span class="aui-label-split-close"><span tabindex="0" class="aui-icon aui-icon-close"
                                                              original-title="(remove splitLabel)">(remove splitLabel)</span></span></span>

    <p></p>
</div>
<h3>Code</h3><h4>Soy</h4>
<script is="aui-docs-code" type="text/handlebars">
    {call atlassian.labels.label}
        {param text: 'unclickableUncloseable' /}
        {param id: 'unclickable-label' /}
    {/call}
    {call atlassian.labels.label}
        {param text: 'clickable' /}
        {param id: 'clickable-label' /}
        {param url: 'http://example.com/' /}
    {/call}
    {call atlassian.labels.label}
        {param text: 'closableNoUrl' /}
        {param id: 'closeable-label-nourl' /}
        {param isCloseable: true /}
    {/call}
    {call atlassian.labels.label}
        {param text: 'splitLabel' /}
        {param id: 'split-label' /}
        {param url: 'http://example.com/' /}
        {param isCloseable: true /}
    {/call}
</script><!--/ aui-docs-code -->
