---
component: Lozenges
layout: main-layout.html
---
<a href="https://design.atlassian.com/latest/product/components/lozenges/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>
<h3>Summary</h3>
<p>Coloured text lozenge, primarily for displaying status. Available in a standard and subtle variations.</p>
<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span>
            </td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-lozenge"><code>com.atlassian.auiplugin:aui-lozenge</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>
<h3>Examples</h3>
<div class="aui-flatpack-example">
    <p>
        <span class="aui-lozenge">default</span>
        <span class="aui-lozenge aui-lozenge-success">success</span>
        <span class="aui-lozenge aui-lozenge-error">error</span>
        <span class="aui-lozenge aui-lozenge-current">current</span>
        <span class="aui-lozenge aui-lozenge-complete">new</span>
        <span class="aui-lozenge aui-lozenge-moved">moved</span>
    </p>
    <p>
        <span class="aui-lozenge aui-lozenge-subtle">default</span>
        <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-success">success</span>
        <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-error">error</span>
        <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-current">current</span>
        <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-complete">new</span>
        <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-moved">moved</span>
    </p>
</div>
<h3>Code</h3>
<h4>HTML</h4>
<p>Markup is simply a span with base class and type class:</p>

<aui-docs-example>
    <script is="aui-docs-code" type="text/html">
        <span class="aui-lozenge aui-lozenge-success">Success</span>
    </script>
</aui-docs-example>

<h3>Options</h3>
<table class="aui">
    <thead>
        <tr>
            <th>Lozenge type</th>
            <th>Lozenge type class</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Generic</td>
            <td>(no type class)</td>
        </tr>
        <tr>
            <td>Success</td>
            <td><code>aui-lozenge-success</code>
            </td>
        </tr>
        <tr>
            <td>Error</td>
            <td><code>aui-lozenge-error</code>
            </td>
        </tr>
        <tr>
            <td>Current</td>
            <td><code>aui-lozenge-current</code>
            </td>
        </tr>
        <tr>
            <td>Complete</td>
            <td><code>aui-lozenge-complete</code>
            </td>
        </tr>
        <tr>
            <td>Moved</td>
            <td><code>aui-lozenge-moved</code>
            </td>
        </tr>
    </tbody>
</table>
<h4>HTML options</h4>
<p>To use the subtle variant, simply add the class <code>aui-lozenge-subtle</code> as well as the type class.</p>

<aui-docs-example>
    <script is="aui-docs-code" type="text/html">
        <span class="aui-lozenge aui-lozenge-subtle aui-lozenge-success">Success</span>
    </script>
</aui-docs-example>
