---
component: Mobile
layout: main-layout.html
---
<h3>Summary</h3>

<p>A specific resource for mobile-detected/dedicated stack mobile UI. It uses Zepto instead of jQuery ($ is
    remapped) and includes a subset of AUI components - see the plugin XML file for current details. Initially it
    will move too fast to document here.</p>

<p>Note you should not load AJS as well, or you'll get the full resource load.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-current">experimental</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
                resource key.
            </td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-experimental-mobile"><code>com.atlassian.auiplugin:aui-experimental-mobile</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>5.0</td>
        </tr>
    </tbody>
</table>