---
component: Soy
layout: main-layout.html
---

<h3>Summary</h3>

<p>Soy templates, aka. Google Closure templates, allow devs to use the same template on both in the client and on
    the server.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-current">experimental</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
                resource key.
            </td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-experimental-soy-templates"><code>com.atlassian.auiplugin:aui-experimental-soy-templates</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>4.2</td>
        </tr>
    </tbody>
</table>

<h3>Options</h3>

<p>AUI is rolling out Soy templates for core components.</p>

<p>In future we hope to offer extracted soydoc and live coding tools, but in the meantime the most popular way to
    explore the Soy is to read the templates themselves. The templates are commented with usage recommendations; see
    /auiplugin/src/main/resources/soy/atlassian and test page is
    http://localhost:9999/ajs/plugins/servlet/ajstest/test-pages/soy/soy-test.html in your refapp.</p><h4>
    Conventions</h4>

<p>The AUI Soy templates have been built with some common conventions:</p>

<p></p>
<ul>
    <li>All should accept id, class, attr, tagName options</li>
    <li>class and attr will accept a string/array/object as appropriate</li>
    <li>"content" always means HTML</li>
</ul>
<h4> Useful links about Soy </h4><a href="https://developers.google.com/closure/templates/docs/overview"
                                    target="_blank">https://developers.google.com/closure/templates/docs/overview</a>